.background {
  height: 650 px;
  background-image: url("../../src/assets/images/nodrische_Stangen_cover.jpg");
  background-size: 100%;
  background-size: cover;
}
div {
  height: 650 px;
  background-image: url("../../src/assets/images/nodrische_Stangen_cover.jpg");
  background-size: 100%;
  background-size: cover;
}
